# A.03 SQL Data Extraction

In [1]:
import pandas as pd

from sqlalchemy import create_engine
import urllib

# Set pandas to display all columns
pd.set_option('display.max_columns', None)

In [ ]:
# Build the connection string for SQLAlchemy using pyodbc
params = urllib.parse.quote_plus(
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=server_name;"
    "Database=database_name;"
    "Trusted_Connection=yes;"
)

# Create Engine
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Create Query
query = """
select top 100 * from MainTable where Variable = 2240
and Active = 1 and IsDeleted = 0 and key = 555
"""

# Use this engine in read_sql
data = pd.read_sql(query, engine)

# Show result
data.head()